/* line 4, ../sass/Partials/_Typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 9, ../sass/Partials/_Typography.scss */
i,
em {
  font-style: italic;
}

/* line 17, ../sass/Partials/_Typography.scss */
h1 {
  font-size: 38px;
  line-height: 45px;
}

/* line 22, ../sass/Partials/_Typography.scss */
h2,
h3 {
  font-size: 18px;
  line-height: 26px;
}

/* line 28, ../sass/Partials/_Typography.scss */
h4 {
  font-size: 14px;
  line-height: 22px;
}

/* Init custom fonts. Replace with your existing local fonts. */
@font-face {
  font-family: 'CustomFont';
  src: url("../fonts/custom-font-regular.eot");
  src: url("../fonts/custom-font-regular.eot?") format("eot"), url("../fonts/custom-font-regular.ttf") format("truetype"), url("../fonts/custom-font-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CustomFont';
  src: url("../fonts/custom-font-bold.eot");
  src: url("../fonts/custom-font-bold.eot?") format("eot"), url("../fonts/custom-font-bold.ttf") format("truetype"), url("../fonts/custom-font-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CustomFontMedium';
  src: url("../fonts/custom-font-medium.eot");
  src: url("../fonts/custom-font-medium.eot?") format("eot"), url("../fonts/custom-font-medium.ttf") format("truetype"), url("../fonts/custom-font-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/Partials/_Header.scss */
#header {
  position: relative;
}

/* line 1, ../sass/Partials/_Logo.scss */
#logo {
  position: absolute;
  top: 3%;
  left: 3%;
}

/* line 1, ../sass/Partials/_Grid.scss */
.first {
  margin-left: 0 !important;
}

/* line 5, ../sass/Partials/_Grid.scss */
.last {
  margin-right: 0 !important;
}

/* line 2, ../sass/Partials/_Content.scss */
#content #primary {
  float: right;
  margin-right: 0;
}
/* line 6, ../sass/Partials/_Content.scss */
#content #secondary {
  margin-left: 0;
}

/* line 4, ../sass/Partials/_Widgets.scss */
.wrap-text_image_50_50 .col-inner {
  padding: 0;
}
/* line 6, ../sass/Partials/_Widgets.scss */
.wrap-text_image_50_50 .col-inner img {
  margin: 0;
  margin-bottom: 1%;
}
/* line 10, ../sass/Partials/_Widgets.scss */
.wrap-text_image_50_50 .col-inner h3 {
  font-size: 38px;
  line-height: 45px;
}

/**
 * 14.1 - >= 710px
 */
/**
 * 14.2 - >= 783px
 */
/**
 * 14.3 - >= 910px
 */
/**
 * 14.4 - >= 985px
 */
/**
 * 14.5 - >= 1200px
 */
