$font-family: 					Arial, Helvetica, sans-serif;
$font-family-medium:			Arial, Helvetica, sans-serif;

$font-size-large: 				38px;
$font-size-big: 				18px;
$font-size-medium: 				14px;
$font-size-small: 				13px;
$font-size-tiny:				10px;

$font-lineheight-large:			45px;
$font-lineheight-big:			26px;
$font-lineheight-medium:		22px;
$font-lineheight-small:			18px;
$font-lineheight-tiny:			14px;